<div class="card mb-4">
    <div class="card-body">
        <h5 class="card-title">

                {{ clinic.name }}

        </h5>
        <p class="card-text"> {{ clinic.city }} ({{ clinic.zipcode }})</p>

    </div>
</div>
