{% extends 'base.html.twig' %}

{% block title %}Edit VeterinaryClinic{% endblock %}

{% block body %}
    <h1>Edit VeterinaryClinic</h1>

    {{ include('veterinary_clinic/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('veterinary_clinic_index') }}">back to list</a>

    {{ include('veterinary_clinic/_delete_form.html.twig') }}
{% endblock %}
