{% extends 'base.html.twig' %}

{% block title %}New MedicalTreatment{% endblock %}

{% block body %}
    <h1>Create new MedicalTreatment</h1>

    {{ include('medical_treatment/_form.html.twig') }}

    <a href="{{ path('medical_treatment_index') }}">back to list</a>
{% endblock %}
