{% extends 'base.html.twig' %}

{% block title %}New Dispense{% endblock %}

{% block body %}
    <h1>Create new Dispense</h1>

    {{ include('dispense/_form.html.twig') }}

    <a href="{{ path('dispense_index') }}">back to list</a>
{% endblock %}
